{% extends "base.html" %}
<!--THIS PAGE IS TO DISPLAY A USER'S PROFILE-->
<head>
    <title> {% block title %}User's Profile{% endblock %} </title>
</head>


{% block content %}
{% if user.is_authenticated %}
<body>
    Hello {{user.username}}. These are the challenges you've completed. You have {{player.points}} points.
    
 
        
        

  


    <div class="accordion" id="accordionExample">
        {%for object in userschallenges%}
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                {{object.challenge}}
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              {{object.challenge.content}}
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
        <a href="{% url 'challenges-home' %}">See all challenges</a>
</body>


{% else %}
<p>You have not completed any challenges.</p>

{% endif %}
<script> // needs to be before the getlocation button

</script>
{% endblock %}
