<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<head>
    <!-- <link rel="stylesheet" href="login.css"> -->
    <style>
        .login-page
        {
            width: 360px;
            padding: 8% 0 0;
            margin: auto;
        }
    </style>
</head>

<body>
    <div class = "login-page">
        <h2> Log In</h2>
        <form class = "login-form" method="post">
            {% csrf_token %} <!-- to prevent xss-->
            {{ form }}
            <button type="submit" class="btn btn-primary">Log In</button>
            <p class = "message"> Forgotten Password?</p>
            <p><a style="text-decoration:none;" href="{% url 'password_reset' %}">Password Reset</a></p>
            {% endblock %}
        </form>
    </div>
    
</body>
</html>