{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<style>
    body{
      font-size:xx-large;
    }
    #id_password,#id_username{
        margin-top:20px;
    }

  </style>
<div style="margin-top: 25vh;"></div>
<h2 style="font-size:4vh"class="container text-center"> Log In</h2>
<div class = "container-xl bg-secondary-subtle border border-success p-2 mb-2 border-opacity-100" >
<form method="post">
    {% csrf_token %} <!-- to prevent xss-->
    {{ form }}
    <br>
    <button style="margin-left:20rem"type="submit" class="btn btn-success">Log In</button>
</form>

</div>
<p> Forgotten Password?</p>
<p><a href="{% url 'password_reset' %}">Password Reset</a></p>
{% endblock %}