{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<head>
  <style>
    body{
      font-size:xx-large;
    }
    #id_username_helptext,#id_password1_helptext,#id_password2_helptext{
      font-size: large;
      font-weight: lighter;
    }
  </style>
</head>
<h1 class="text-center display-3">Sign up</h2>
<div class="container-xl bg-secondary-subtle border border-success p-2 mb-2 border-opacity-100" >
<form method="post">
  {% csrf_token %}
  {{ form }}
  <button type="submit" class="btn btn-success">Sign Up</button>
</form>

<p>
  Privacy Policy <br>

You must be at least 18 years old to sign up. <br>
By signing up, you agree to share the following personal information: <br>
•	Email address <br>
•	Location <br>
This will only be used for authentication purposes. We will not send you any unnecessary emails.<br>

Location will be accessed only when completing a location-based challenge. We will always ask for permission before accessing your location. <br>

We will store cookies.<br>
Your data is stored on a database, information such as passwords is encrypted.<br>

Your username will be seen by other users, your email will not.<br>
We do not share your data will any third parties.<br>

Data will not be kept longer than necessary.<br>

If you have any questions, you can email sw1006@exeter.ac.uk.<br>

</p>
{% endblock %}