{% extends "base.html" %}
{% block content %}
<style>
.box {
    float: center;
    width: 75%;
    padding: 50px;
    border-style: solid;
    border-color:rgb(0, 0, 0);
    border-width: 4px;
    border-radius: 20px;
    margin:auto;
    background-color:#89cc7c
}
</style>

  <div class="box">
    <p>Want to earn some cool badges to show off to your friends?</p>
    <p>Firstly, you can earn badges by completing certain challenges. Take a scroll
        through the list of challenges and see which ones have a badge beside them to be earned!</p>
    <p>Or, you can complete 5 tasks to earn the 5️⃣ badge.</p>
    <p>And 10 tasks to earn the 🔟 badge.</p>
    </div>

{% endblock %}