{% extends "base.html" %}

<head>
    <title> {% block title %}Challenge {{challenge.id}}{% endblock %} </title>
</head>


{% block content %}
{% if user.is_authenticated %}
<body>
    <div id="location"></div>
    <script> // needs to be before the getlocation button
        var x = document.getElementById("location");
    
        function getLocation() {
            if (navigator.geolocation) {
    
                navigator.geolocation.getCurrentPosition(showPosition);
    
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }
        function showPosition(position) {
            x.innerHTML = `Latitude: ${position.coords.latitude}<br>Longitude: ${position.coords.longitude}`;
        }
    </script>
         <!-- needs to be before the javscript-->
        <h1> Challenge: {{challenge.title}}</h1>
        <p> {{challenge.content}} </p>
        <p> Points: {{challenge.points}} </p>
        <p> Challenge Type: {{challenge.cType}} </p>
        <button onclick="getLocation()">Verify Location</button>

        {% if not complete %}
        <form action="/challenges/{{challenge.id}}/" method="post">
            {% csrf_token %}
            <button type="submit">submit challenge!</button>
        </form>
        {% else %}

        <p>You have already completed this challenge.</p>
        {% endif %}

        <a href="{% url 'challenges-home' %}">See all challenges</a>
</body>


{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
<br>
<a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}