{% extends "base.html" %}
<!--THIS PAGE IS TO DISPLAY A USER'S PROFILE-->
<head>
    <title> {% block title %}User's Profile{% endblock %} </title>
    <style>
      .container-fluid .challenge_body{
          background-color: green;
          border-style: outset;
          border-color:yellow;
          border-radius: 10px;
          box-shadow: 9px 10px;
          margin: 2%;
          margin-left: 2%;
          margin-right: 2%;
          min-height:30px;
          overflow: scroll;
          
        
       }

  </style>
</head>


{% block content %}
{% if user.is_authenticated %}
<body>
  <div style="margin-top: 6vh;"></div>
    <h2>Hello {{user.username}}. These are the challenges you've completed. <br>
    You have {{player.points}} points.</h2>

      <div class="container text-center">
        <div style="margin-right:10vw;" class="row row-cols" >
          {%for object in userschallenges%}
          <div class="col">
            <div class="container-fluid challenge_body ">
             <h1>{{object.challenge}}</h1>
              {{object.challenge.content}}
            </div>
          </div>
            {%endfor%}
        </div>
      </div>
      <br>
    
        <a href="{% url 'challenges-home' %}"><h3 style="text-align:center;">See all challenges</h3></a>
</body>


{% else %}
<h1>You have not completed any challenges.</h1>

{% endif %}
<script> // needs to be before the getlocation button

</script>
{% endblock %}
